@import "../../constants.scss";

.diary-delete-dropdown {
    position: relative;
    padding: 0;
    margin-left: auto;
    display: flex; 
    align-items: center;

    .dropdown-trigger {
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        line-height: 1;
        margin: 0; 
        padding: 0;

        .dropdown-icon {
            transition: transform 0.4s ease, color 0.5s ease;
            color: inherit;
        }
    }
    
    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%;
        right: 0;
        background-color: $color-white;
        border: 1px solid $color-dropdown-border;
        border-radius: 4px;
        min-width: 150px;
        padding: 5px;
        z-index: 1000;

        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.1s ease, opacity 0.1s ease;

        &.open {
            max-height: 100px; 
            opacity: 1;
        }
    }
    
    .dropdown-button {
        width: 100%;
        background-color: $color-white;
        border: 0; 
        padding: 8px 16px 8px 5px;
        text-align: left;
        cursor: pointer;
        font-family: $ubuntu-mono;
        font-size: 14px;
        transition: margin-left 0.2s ease, color 0.2s ease;

        &:hover {
            margin-left: 5px;
            color: $color-primary; 
        }

        .fa-icon {
            font-size: 12px;
            margin-right: 5px;
        }
    }    
}
